/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Core Grid CSS */
// @import 'ag-grid-community/styles/ag-grid.css';
/* Quartz Theme Specific CSS */
// @import 'ag-grid-community/styles/ag-theme-quartz.css';
@import './ag-grid-theme-builder.css';

@import "../node_modules/angular-calendar/css/angular-calendar.css";

body {
    min-height: 100vh;
    background-color: #151515;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
